# Importando base de dados

In [0]:
import pandas as pd

In [2]:
pd.read_csv('tips.csv')

     total_bill   tip dessert   day    time  size
0         16.99  1.01      No   Sun  Dinner     2
1         10.34  1.66      No   Sun  Dinner     3
2         21.01  3.50      No   Sun  Dinner     3
3         23.68  3.31      No   Sun  Dinner     2
4         24.59  3.61      No   Sun  Dinner     4
5         25.29  4.71      No   Sun  Dinner     4
6          8.77  2.00      No   Sun  Dinner     2
7         26.88  3.12      No   Sun  Dinner     4
8         15.04  1.96      No   Sun  Dinner     2
9         14.78  3.23      No   Sun  Dinner     2
10        10.27  1.71      No   Sun  Dinner     2
11        35.26  5.00      No   Sun  Dinner     4
12        15.42  1.57      No   Sun  Dinner     2
13        18.43  3.00      No   Sun  Dinner     4
14        14.83  3.02      No   Sun  Dinner     2
15        21.58  3.92      No   Sun  Dinner     2
16        10.33  1.67      No   Sun  Dinner     3
17        16.29  3.71      No   Sun  Dinner     3
18        16.97  3.50      No   Sun  Dinner     3
19        20.65  3.35      No   Sat  Dinner     3
20        17.92  4.08      No   Sat  Dinner     2
21        20.29  2.75      No   Sat  Dinner     2
22        15.77  2.23      No   Sat  Dinner     2
23        39.42  7.58      No   Sat  Dinner     4
24        19.82  3.18      No   Sat  Dinner     2
25        17.81  2.34      No   Sat  Dinner     4
26        13.37  2.00      No   Sat  Dinner     2
27        12.69  2.00      No   Sat  Dinner     2
28        21.70  4.30      No   Sat  Dinner     2
29        19.65  3.00      No   Sat  Dinner     2
..          ...   ...     ...   ...     ...   ...
214       28.17  6.50     Yes   Sat  Dinner     3
215       12.90  1.10     Yes   Sat  Dinner     2
216       28.15  3.00     Yes   Sat  Dinner     5
217       11.59  1.50     Yes   Sat  Dinner     2
218        7.74  1.44     Yes   Sat  Dinner     2
219       30.14  3.09     Yes   Sat  Dinner     4
220       12.16  2.20     Yes   Fri   Lunch     2
221       13.42  3.48     Yes   Fri   Lunch     2
222        8.58  1.92     Yes   Fri   Lunch     1
223       15.98  3.00      No   Fri   Lunch     3
224       13.42  1.58     Yes   Fri   Lunch     2
225       16.27  2.50     Yes   Fri   Lunch     2
226       10.09  2.00     Yes   Fri   Lunch     2
227       20.45  3.00      No   Sat  Dinner     4
228       13.28  2.72      No   Sat  Dinner     2
229       22.12  2.88     Yes   Sat  Dinner     2
230       24.01  2.00     Yes   Sat  Dinner     4
231       15.69  3.00     Yes   Sat  Dinner     3
232       11.61  3.39      No   Sat  Dinner     2
233       10.77  1.47      No   Sat  Dinner     2
234       15.53  3.00     Yes   Sat  Dinner     2
235       10.07  1.25      No   Sat  Dinner     2
236       12.60  1.00     Yes   Sat  Dinner     2
237       32.83  1.17     Yes   Sat  Dinner     2
238       35.83  4.67      No   Sat  Dinner     3
239       29.03  5.92      No   Sat  Dinner     3
240       27.18  2.00     Yes   Sat  Dinner     2
241       22.67  2.00     Yes   Sat  Dinner     2
242       17.82  1.75      No   Sat  Dinner     2
243       18.78  3.00      No  Thur  Dinner     2

[244 rows x 6 columns]

In [0]:
dados = pd.read_csv('tips.csv')

In [5]:
dados.head()

   total_bill   tip dessert  day    time  size
0       16.99  1.01      No  Sun  Dinner     2
1       10.34  1.66      No  Sun  Dinner     3
2       21.01  3.50      No  Sun  Dinner     3
3       23.68  3.31      No  Sun  Dinner     2
4       24.59  3.61      No  Sun  Dinner     4

# Tradução

In [43]:
dados.columns

Index(['total_bill', 'tip', 'dessert', 'day', 'time', 'size'], dtype='object')

In [0]:
renomear = {
    'total_bill' : 'valor_da_conta', 
    'tip': 'gorjeta', 
    'dessert': 'sobremesa', 
    'day' : 'dia_da_semana', 
    'time' : 'hora_do_dia', 
    'size' : 'total_de_pessoas'   
}

In [45]:
type(dados)

pandas.core.frame.DataFrame

In [0]:
gorjetas = dados.rename(columns = renomear)

In [47]:
gorjetas.head(1)

,valor_da_conta,gorjeta,sobremesa,dia_da_semana,hora_do_dia,total_de_pessoas
0,16.99,1.01,No,Sun,Dinner,2

In [48]:
gorjetas.sobremesa.unique()

array(['No', 'Yes'], dtype=object)

In [0]:
sim_nao = {
    'No' : 'Não', 
    'Yes' : 'Sim'
}

In [50]:
gorjetas.sobremesa.map(sim_nao)

0      Não
1      Não
2      Não
3      Não
4      Não
5      Não
6      Não
7      Não
8      Não
9      Não
10     Não
11     Não
12     Não
13     Não
14     Não
15     Não
16     Não
17     Não
18     Não
19     Não
20     Não
21     Não
22     Não
23     Não
24     Não
25     Não
26     Não
27     Não
28     Não
29     Não
      ...
214    Sim
215    Sim
216    Sim
217    Sim
218    Sim
219    Sim
220    Sim
221    Sim
222    Sim
223    Não
224    Sim
225    Sim
226    Sim
227    Não
228    Não
229    Sim
230    Sim
231    Sim
232    Não
233    Não
234    Sim
235    Não
236    Sim
237    Sim
238    Não
239    Não
240    Sim
241    Sim
242    Não
243    Não
Name: sobremesa, Length: 244, dtype: object

In [51]:
gorjetas.head(1)

,valor_da_conta,gorjeta,sobremesa,dia_da_semana,hora_do_dia,total_de_pessoas
0,16.99,1.01,No,Sun,Dinner,2

In [0]:
gorjetas.sobremesa = gorjetas.sobremesa.map(sim_nao)

In [53]:
gorjetas.head(1)

,valor_da_conta,gorjeta,sobremesa,dia_da_semana,hora_do_dia,total_de_pessoas
0,16.99,1.01,Não,Sun,Dinner,2

In [54]:
gorjetas.dia_da_semana.unique()

array(['Sun', 'Sat', 'Thur', 'Fri'], dtype=object)

In [0]:
dias = {
    'Sun' : 'Domingo',
    'Sat': 'Sábado',
    'Thur': 'Quinta', 
    'Fri' : 'Sexta'
}

In [0]:
gorjetas.dia_da_semana = gorjetas.dia_da_semana.map(dias)

In [57]:
gorjetas.head(1)

,valor_da_conta,gorjeta,sobremesa,dia_da_semana,hora_do_dia,total_de_pessoas
0,16.99,1.01,Não,Domingo,Dinner,2

In [60]:
gorjetas.hora_do_dia.unique()

array(['Dinner', 'Lunch'], dtype=object)

In [0]:
hora = {
    'Dinner' : 'Jantar',
    'Lunch' : 'Almoço'
}

In [0]:
gorjetas.hora_do_dia = gorjetas.hora_do_dia.map(hora)

In [65]:
gorjetas.head(1)

,valor_da_conta,gorjeta,sobremesa,dia_da_semana,hora_do_dia,total_de_pessoas
0,16.99,1.01,Não,Domingo,Jantar,2